* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family:
    Roboto,
    system-ui,
    -apple-system,
    "Segoe UI",
    "Open Sans",
    sans-serif;
  font-size: 16px;
}

body {
  background: #080808;
  color: #f0f0f0;
}

.simple-box {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;

  padding: 2rem;
  margin: 2rem;
}
